body{
  margin: 0;
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #999999;
  background-color: #ffffff;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 30px;
  padding-bottom: 30px
}

.page-header .container {
  display: flex;
  justify-content: space-between;

}

.menu-button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.hero {
  background-image: url("img/Rectangle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 170px 0;
  min-height: 740px;
  box-sizing: border-box;
}

.company {
  font-size: 64px;
  line-height: 95px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-left: auto;
  width: 75%;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;

}

.buildings {
  display: block;
  margin-top: 25px;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;

}

.advantages {
  margin-top: -150px;
}

.advantages .advantages-list {
  display: flex;
  justify-content: space-between;
  padding: 57px 130px;
  background-color: #F7F7F7;

}

.number {
  font-size: 72px;
  line-height: 107px;
  text-align: center;
  color: #F7654A;
  display: block;
}

.years {
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #000000;
  display: block;
}


.market {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #999999;
  display: block;
}


.big-projects {
  padding-top: 100px;
  padding-bottom: 150px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #404149;
}

.projects-list {
  display: flex;
}

.project {
  margin-right: 30px;
}

.arena {
  display: flex;
  flex-direction: column;
}

.arena img {
  order: -1;
}


.article-title {
  text-transform: none;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  color: #404149;
}

.article-text {
  font-family: "Open Sans";
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #999999
}

.request {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #F7654A; 
  color: #ffffff;
}

.request .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request-title {
  margin: 0;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 0.02em;
}

.section-text {
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;

}

.button {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #000000;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 30px;
  padding-right: 30px;
}

.button svg {
  width: 18px;
  height: 21px;
  margin-right: 15px;
  fill: currentColor;
}

.button:hover,
.button:focus {
  background-color: #8c4133;
  color: #fff;
}

.button:active {
  background-color: #8c413399;
}

.services {
  padding-top: 150px;
  padding-bottom: 150px;
}

.services .services-list {
  display: flex;
  flex-wrap: wrap;
}

.title {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
  text-align: center
}

.section-link {
  display: block;
  padding: 60px;
  background-color: #F7F7F7;
  font-size: 21px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  box-sizing: border-box;
}

.section-link::before {
  content: "";
  display: block;
  width: 60px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url(img/house.svg);
  background-repeat: no-repeat;
}

.offices {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 30%;
  flex-grow: 1;
}

.offices:nth-child(3n) {
  margin-right: 0;
}

.photos {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  width: 25%;
  flex-grow: 1;
}

.photo img {
  display: block;
  width: 100%;
  height: auto;
}

.answers {
  padding-top: 150px;
  padding-bottom: 150px; 
}

.answers .title {
  margin-top: 0;
  margin-bottom: 50px;
}

.accordion {
  margin-bottom: 40px;
}

.accordion:last-child {
  margin-bottom: 0;
}

.accordion-button {
  font: inherit;
  text-transform: inherit;
  font-size: 24px;
  line-height: 36px;
  color: #F7654A;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.accordion-button::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 15px;
  border: 10px solid transparent;
  border-right: 0;
  border-left-color: currentColor;
  transition: transform 0.2s;

}

.accordion-panel {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
  margin-top: 30px;
  margin-bottom: 0;
}


.js-accordion-panel {
  display: none;
}

.js-accordion-open .js-accordion-panel{
  display: block;
}


.js-accordion-open .accordion-button::before {
  transform: rotate(-90deg);
}



.review {
  padding-top: 150px;
  padding-bottom: 150px;
}

.review .title {
  margin-top:0;
  margin-bottom: 64px; 
  
}

.review-list {
display: flex;
}

.review-text {
  margin-right: 30px;
}

.review-text:last-child {
  margin-right: 0
}

.blockquote-text {
  background-color: #F7F7F7;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 38px;
  padding-bottom: 40px;
  margin-top: 0;
  margin-bottom: 30px;
}

.blockquote-text::before {
  content: "";
  display: block;
  width: 34px;
  height: 28px;
  margin-bottom: 12px;
  background-image: url(img/sign.svg);
  background-repeat: no-repeat;
}

.blockquote {
  margin: 0;
}

.partners {
  background-color: #404149;
  color: #FFFFFF;
  padding-top: 100px;
  padding-bottom: 100px;
}

.our-partners {
  text-align: center;
  font-size: 36px;
  line-height: 53px;
  margin-top: 0;
  margin-bottom: 60px;

}

.partners-list {
  display: flex;
}

.partner {
  margin-right: 65px;
}

.name {
  font-size: 21px;
  font-style: normal;
  text-transform: none;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #000000;
}

.organization {
  font-size: 21px;
  font-style: normal;
  text-transform: none;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #F7654A;
}

.contacts {
  padding-top: 100px;
  padding-bottom: 150px;
}

.contacts .title {
  margin-top: 0;
  margin-bottom: 60px;
}

.contacts-list {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 36px;
}

.contact-text {
  margin-right: 30px;

}

.contact-text:last-child {
  margin:0;
}

.contact-text::before {
  content: "";
  display: block;
  width: 48px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center;
}



.contact-text.address::before {
  background-image: url(img/address.svg);
} 

.contact-text.phone::before {
  background-image: url(img/phone.svg);
} 

.contact-text.time::before {
  background-image: url(img/time.svg);
} 

.contact-text.email::before {
  background-image: url(img/email.svg);
} 


.info-title {
  display: block;
  color: #999999;
  text-align: center;
}

.info-value {
  text-align: center;
  color: #000000;
}


.phone {
  display: block;
}


.info-link {
  color: #F7654A;
}

.page-footer {
  background-color:  #404149;
  padding-top: 30px;
  padding-bottom: 30px;
}

.copyright {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
}

.page-footer .container {
  display: flex;
  justify-content: space-between;
}